.clicked{
  color: salmon;
}

.hidden{
  display: none;
  
}

.title{
  text-align: center;
}

body{
  background: #dfcfbe;  
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

