.clicked{
  color: salmon;
}

.hidden{
  display: none;
  
}

html {
  overflow-y: scroll;
}

#logoutbutton{
  position:fixed;
  bottom: 0.5rem;
  left: 0.5rem;
}

.title{
  text-align: center;
  position: sticky;
  top:0;
  color: yellow;
  background-color: black;
}

body{
  background-color: #000000 ;  
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

